.gameCircle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: bisque;
  border: 1px solid black;
border-radius: 50%;
margin: 5px;
}
.circleInside{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border: 1px solid black;
border-radius: 50%;
margin: 5px;
}